.container {
   margin-left: 260px;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 260px;
    border-right: solid 2px rgba(79, 95, 79, 1);
    height: 100%;
}

.sidebar__logo {
    margin-bottom: 20px;
}

.sidebar__logo span{
    display: block;
    color: #0095A8;
    font-size: 40px;
    padding-left: 15px;
    line-height: 40px;
}

.sidebar__recent {
    margin-bottom: 10px;
}

.sidebar__recent__list {
    color: #8090B0;
    font-size: 20px;
    display: block;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
}

.sidebar__recent__label {
    color: #F49725;
    padding-left: 3px;
    
}

.sidebar__recipe__list__label {
    color: #E64100;
    padding-left: 3px;
}

.sidebar__recipe__list span {
    color: #8090B0;
    font-size: 20px;
    display: block;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.sidebar__recipe__list span:hover {
    color: #80A1E3;
    cursor: pointer;
}

.recipe-card-container {
   font-family: Rubik;
   margin-left: 300px;
   padding-left: 40px;
   margin: auto;
}

.recipe-heading {
    color: #0095A8;
    font-size: 36px;
    padding: 10px 0;
}

.recipe-contents ul {
    margin: 0;
    padding: 0;
}

.recipe-contents ol {
    padding-left: 20px;
    margin: 0;
}

#Ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    color: #807F7D;
}

#Ingredients li {
    list-style-type: none;
    padding: 2px 0;
    font-size: 22px;
}

#Ingredients li:hover {
    cursor: pointer;
}

#Instructions li {
    margin: 10px 0;
    color: #807F7D;
    font-size: 18px;
}

.Line-Through-true {
    text-decoration: line-through;
}

.Line-Through-false {
    text-decoration: none;
}

.ingredient_whole {
    padding-right: 10px;
}

.fraction_container {
    display: inline;
}

.ingredient_denominator {
    padding-right: 10px;
}

.ingredient_measurement-tsp {
    color: #FF5792;
}

.ingredient_measurement-Tbsp {
    color: #00BDD6;
}

.ingredient_measurement-cup {
    color: #5842FF;
}

.ingredient_measurement-oz {
    color: #E64100;
}

.ingredient_measurement-other {
    color: #F49725;
}

.ingredient_ingredient {
  padding-left: 10px;
}

.ingredient_descriptor {
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
}

#Instructions {
    margin-top: 40px;
}