@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
<meta name="viewport" content="width=device-width, initial-scale=1.0">

.App {
  margin: 0;
  width: 100%;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.sidebar__show-hide {
  position: absolute;
 left: 260px;
  top: 50%;
}

.sidebar__scroll-fix {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.sidebar__container {
  font-family: 'Rubik', sans-serif;
  position: fixed;
  left: 0;
  width: 260px;
  border-right: solid 2px rgba(79, 95, 79, 1);
  height: 100%;
  background-color: #EDEDED;
  top: 0;
  bottom: 0;
  left: 0;
 overflow: scroll;
 scrollbar-width: none;
}

.sidebar__container::-webkit-scrollbar {
  width: 0px;
    background: transparent;
}

.sidebar__logo {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 70px;
  text-align: center;
  line-height: 50px;
  margin: 15px 0 30px 0;
}

/*---------------Universal Sidebar CSS------------------------*/

.sidebar__heading {
  line-height: 72px;
  float: left;
  font-size: 30px;
  padding-left: 10px;
}

.sidebar__icon {
  float: right;
  margin: 11px 0;
}

.sidebar__header {
  height: 72px;
}


/*---------------Featured------------------------*/

.sidebar__dropdown__featured {
 background-color: #E69373;
}

.sidebar__dropdown__featured ul {
  display: none;
}

.sidebar__dropdown__featured li:nth-child(odd) {
  background-color: #FFAE8D;
}
.sidebar__dropdown__featured li:nth-child(even) {
  background-color: #FFCAA7;
}

.isFeaturedShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

.isFeaturedShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}

/*--------------Recently Added------------------------*/


.sidebar__dropdown__recent {
  background-color: #B2A8FF;
  
}

.sidebar__dropdown__recent ul  {
  display: none;
}

.sidebar__dropdown__recent li:nth-child(odd) {
  
  background-color: #CEC3FF;
}

.sidebar__dropdown__recent li:nth-child(even) {
  
  background-color: #EBDFFF;
}

.isRecentShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isRecentShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}


/*--------------Beef------------------------*/

.sidebar__dropdown__beef {
  background-color: #F4CE9F;
}

.sidebar__dropdown__beef ul  {
  display: none;
}

.sidebar__dropdown__beef li:nth-child(odd) {
  background-color: #FFEABA;
}

.sidebar__dropdown__beef li:nth-child(even) {
  background-color: #FFFFD6;
}

.isBeefShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isBeefShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}


/*--------------Chicken------------------------*/

.sidebar__dropdown__chicken {
  background-color: #F4CE9F;
}

.sidebar__dropdown__chicken ul  {
  display: none;
}

.sidebar__dropdown__chicken li:nth-child(odd) {
  background-color: #FFEABA;
}

.sidebar__dropdown__chicken li:nth-child(even) {
  background-color: #FFFFD6;
}

.isChickenShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isChickenShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}


/*--------------Pork------------------------*/

.sidebar__dropdown__pork {
  background-color: #F4CE9F;
}

.sidebar__dropdown__pork ul  {
  display: none;
}

.sidebar__dropdown__pork li:nth-child(odd) {
  background-color: #FFEABA;
}

.sidebar__dropdown__pork li:nth-child(even) {
  background-color: #FFFFD6;
}

.isPorkShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isPorkShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}

/*--------------Fish------------------------*/

.sidebar__dropdown__fish {
  background-color: #F4CE9F;
}

.sidebar__dropdown__fish ul  {
  display: none;
}

.sidebar__dropdown__fish li:nth-child(odd) {
  background-color: #FFEABA;
}

.sidebar__dropdown__fish li:nth-child(even) {
  background-color: #FFFFD6;
}

.isFishShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isFishShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}

/*----------------Veggies------------------------*/

.sidebar__dropdown__veggies {
  background-color: #5AB38D;
}

.sidebar__dropdown__veggies ul {
  display: none;
}

.sidebar__dropdown__veggies li:nth-child(odd) {
  
  background-color: #76CFA7;
}

.sidebar__dropdown__veggies li:nth-child(even) {
  
  background-color: #91EBC3;
}

.isVeggiesShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isVeggiesShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}


/*--------------Baking------------------------*/

.sidebar__dropdown__baking {
  
  background-color: #6BCAD6;
}

.sidebar__dropdown__baking ul  {
  display: none;
}

.sidebar__dropdown__baking li:nth-child(odd) {
  
  background-color: #45D9F2;
}

.sidebar__dropdown__baking li:nth-child(even) {
  
  background-color: #6AF6FF;
}

.isBakingShowing {
  display: block !important;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.isBakingShowing li {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 10px;
}



/*--------------icon8 footer as part of usage agreement. ------------------------*/

.icons8 {
  margin-top: 10px;
  text-align: center;
  width: 260px;
 
}

.icons8 a {
  text-decoration: none;
}